<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>錯誤</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="max-width: 600px;margin-top: 50px;">

        <div class="jumbotron">
            <h2>Error</h2>
            <p>對不起，服務異常，請聯繫管理員</p>
        </div>

<!--        -->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL : '+${url}" th:remove="tag"></div>
        <div th:utext="'Exception message : '+${exception.message}"th:remove="tag"></div>
        <ul>
            <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:text="${st}" th:remove="tag"></span></li>
        </ul>
        <div th:utext="'&gt;--'" th:remove="tag"></div>
    </div>
</body>
</html>